@using DotNetNuke.Web.MvcPipeline.Containers
@model DotNetNuke.Web.MvcPipeline.Models.ContainerModel

<div class="w3-container default titled clearfix">
    <div>(cssClass: "title")</div>
    <div>@Html.Content()</div>
</div>
