@using DotNetNuke.Web.MvcPipeline.Models
@using DotNetNuke.Web.MvcPipeline.Skins
@using DotNetNuke.Web.NewDDRMenu

@model PageModel

<div class="header">
    <!-- Begin semantic header html tag -->
    <div class="segment aboveheader">
        <div class="w3-content">
            <div class="w3-row">
                <div id="aboveheader" runat="server" class="" containername="RocketW3" containersrc="unboxed.ascx" containertype="G">
                    <div class="langpane">
                        @Html.Language(alternateTemplate: "<a href='[URL]' title='[CULTURE:NATIVENAME]'>[CULTURE:TWOLETTERISOCODE]</a>", itemTemplate: "<a href='[URL]' title='[CULTURE:NATIVENAME]'>[CULTURE:TWOLETTERISOCODE]</a>", selectedItemTemplate: "<a href='[URL]' title='[CULTURE:NATIVENAME]' class='langsel'>[CULTURE:TWOLETTERISOCODE]</a>", showLinks: true, showMenu: false)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="segment mainheader">
        <div class="w3-content">
            <div class="w3-cell-row">
                <div class="w3-container w3-cell w3-cell-middle w3-mobile">
                    <div class="logopane w3-left">
                        @Html.Logo()
                    </div>
                </div>
                <div class="w3-container w3-cell w3-cell-middle w3-mobile nav">
                    <div class="menu w3-right">
                        @Html.DDRMenu(clientID: "mainmenu", menuStyle: "menus/desktop", nodeManipulator: "RocketTools.DdrMenuInterface,RocketTools")
                    </div>
                </div>
                <div class="w3-container w3-stretch nav">
                    <div class="navicon w3-clear">
                        <a id="navicon" aria-label="Menu" href="javascript:void(0);" role="button"></a></div>
                    <div class="mobilemenu w3-hide-large">
                        @Html.DDRMenu(clientID: "mobilemenu", menuStyle: "menus/mobile", nodeManipulator: "RocketTools.DdrMenuInterface,RocketTools")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="segment belowheader">
        <div class="w3-content">
            <div class="w3-row">
                <div id="belowheader" runat="server" class="" containername="RocketW3" containersrc="unboxed.ascx" containertype="G">
                </div>
            </div>
        </div>
    </div>
</div>
